<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
</head>
<body>
    <h1>JudoShop | <a th:href="@{/login}">Войти</a></h1>
    <br>
    <h4>Товары</h4>
    <form>
        Поиск по названию: <input type="text" name="title"/><br>
        <input type="submit" value="Поиск"/>
    </form><br>
    <form action="/" >
        Обновить:<br><input type="submit" value="Обновить"/>
    </form>
    <ul>

        <li th:each="product : ${products}">
            <p>
                <b>[[${product.title}]]</b> |
                <b>[[${product.price}]]</b> |
                <a th:href="@{/product/{id}(id=${product.id})}">Подробнее...</a>
            </p>
        </li>
    </ul>
    <h3>Создать товар</h3>
    <form action="/product/create" method="post" enctype="multipart/form-data">
        Название товара: <input type="text"  name="title"/><br><br>
        Тип товара: <input type="text"  name="type"/><br><br>
        Описание товара: <input type="text"  name="description"/><br><br>
        Цена товара: <input type="number"  name="price"/><br><br>
        Город товара: <input type="text"  name="city"/><br><br>
        Производитель товара: <input type="text"  name="manufacturer"/><br><br>
        Первая фотография: <input type="file"  name="file1"/><br><br>
        Вторая фотография: <input type="file"  name="file2"/><br><br>
        Третья фотография: <input type="file"  name="file3"/><br><br>
        <input type="submit" value="Добавить товар"></input>
    </form>



</body>
</html>