<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <title>JudoShop - Регистрация</title>
</head>
<body>
<h1>JudoShop</h1><hr>
<h3>Подробная информация о пользователе [[${user.name}]]</h3>
<b>Номер телефона: [[${user.phoneNumber}]]</b>
<h4>Товары пользователя [[${user.name}]]</h4>
<ul>

    <li th:each="product : ${products}">
        <p>
            <b>[[${product.title}]]</b> |
            <b>[[${product.price}]]</b> |
            <a th:href="@{/product/{id}(id=${product.id})}">Подробнее...</a>
        </p>
    </li>
</ul>
</body>

</html>